# Python
__pycache__/
*.py[cod]
*.so
.pytest_cache/
.mypy_cache/

# Virtual environments
vehicle_warn_env/
.venv/
venv/
env/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Large media/data artifacts
*.mp4
*.avi
*.mov
*.mkv
*.jpg
*.txt
*.json

# Model checkpoints or large binary artifacts (keep small model weights manually if needed)
*.ckpt
*.ckpt.*

#dataset folders
BDD_YOLO/
bdd100k/
yolo_dataset/
output/